
/* <!-- Blithe-plus-banner --> */
.Blithe-plus-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0;
}

.dis-banner{
    background: url("https://media.istockphoto.com/vectors/dark-peach-or-carrot-coloured-grunge-celebration-vector-backgrounds-vector-id1278494992?k=20&m=1278494992&s=170667a&w=0&h=_AADyG_fvrjC-hkrbLJyEh1nrH28xBeQluRcKy0v0I8=");
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.dis-banner{
    color: var(--white-color);
    padding-left: 10px;
}

.dis-banner span{
    color: var(--darkgreen-color);
    padding:10px;
    font-weight: 900;
}

.banner-img{
    width:20%;
    height: 20%;
}

.banner-img img{
    width: 50%;
}


@media (max-width:768px){
    .dis-banner p{
        font-size: 0.75rem;
    }

    .dis-banner span{
        font-size: 1rem;
    }

    .banner-img{
        width:40%;
        height: 50%;
    }
    .banner-img img{
        width: 85%;
    }
}