@import url('../../css/Common.css');

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 1rem;
    background-color: var(--white-color);
  }
  
  .dropdown-content a {
    color: var(--black-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
  }
  
.dropdown-content a:hover {background-color: var(--shadow-color);}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover{
    display: block;
}

.btn-icon{
    background-color: var(--black-color);
    color: var(--white-color);
    opacity: 0.7;
}

.prev-btn{
    z-index:1;
    top: 60%;
    float: left;
    left:20px;
    position: absolute;
}

.next-btn{
    z-index:1;
    top: 60%;
    float: right;
    right:20px;
    position: absolute;
}

.category-container{
    height:7rem;
    background-color: var(--lightgray-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.category-item{
    margin: 0 2rem;
    width:7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    padding:0.2rem;
    border-radius: 50%;
}

/* Steps container */
.steps-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    height:max-content;
    width:100%;
    gap:1rem;
}

.step-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;  
    background-color: var(--lightgray-color);
    padding:1rem; 
    width:30%;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
}

.step{
    font-size: 3rem;
    font-weight: 900;
    width:4rem;
    height:4rem;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 0 0 0.5rem 0;
    text-align: center;
    border-radius: 50%;
}

.step-text{
    color: var(--primary-bg);
    margin-top: 10px
}

.flex-container-row.featured-categories{
    background-color: var(--whitepeach-color);
    flex-wrap: wrap;
}

.featured-categories .card-container .card-img{
    height: 15rem;
}

.flex-container-row-center.featured-prdcts{
    background-color: var(--linen-color);
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
    align-items: center;
    overflow-y: hidden;
}

/* deals of the day */
.flex-container-row.deals-prdcts{
    background-color: var(--linen-color);
}

/*--Section for - Testimonials grid--*/
.reviews-container{
    background-color: var(--tertiary-color);
}

.flex-container-row-center.reviews-row{
    background-color: var(--tertiary-color);
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
    align-items: center;
    overflow-y: hidden;
}

.flex-container-row-center.reviews-row .profile{
	padding: 2rem 1rem 1rem;
	background-color: var(--lightgray-color);
    text-align: center;
    min-width: 15rem;
}
.flex-container-row-center.reviews-row .user{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.flex-container-row-center.reviews-row .profile .profile-name{
	color: var(--primary-bg);
}
.flex-container-row-center.reviews-row .profile:hover{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor:pointer;
	transition: 0.5s;
}

.profile blockquote{
    max-height: 100ch;
    height: 15rem;
    word-wrap: break-word;
}

@media (max-width:768px){
    .step-item{
        height: 20vh;
    }
}